@import '@/styles/global.scss';
.cardsWrapper {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 7rem;

  @include mobile {
    padding: 1rem;
    margin-top: 4rem;
    grid-template-columns: repeat(1, 1fr);
  }

  @include wide-desktop {
    padding: 1vw;
    margin-top: 4vh;
    grid-template-columns: repeat(4, 1fr);
  }
}
