@import '@/styles/global.scss';

$imageWidth: 20vw;
$imageHeight: 30vh;

$imageWideWidth: 30vw;
$imageWideHeight: 35vh;

.accordionWrapper {
  transition:
    flex-grow 0.5s ease,
    flex-shrink 0.5s ease;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  gap: 2rem;
  padding: 10rem;
  color: $color-black;
  cursor: pointer;
}

.wide {
  flex-grow: 2 !important; /* 클릭된 요소가 다른 요소보다 더 많은 공간을 차지하도록 설정 */
  flex-shrink: 1 !important;
  flex-basis: 40vw; /* 초기 기준 크기 설정 */
  max-width: 40vw; /* 최대 너비를 40vw로 제한 */
  transition:
    flex-basis,
    width 4s ease; /* 크기 변화에 대한 부드러운 트랜지션 적용 */

  h1 {
    @include pretendard-40-700;
  }
  p {
    @include pretendard-20-100;
  }

  .imageWrapper {
    width: $imageWideWidth;
    height: $imageWideHeight;
  }
}
.imageWrapper {
  width: $imageWidth;
  height: $imageHeight;
  position: relative;
  top: 10rem;
}
@mixin responsive-wide {
  .wide {
    flex-basis: 50vh; /* 초기 기준 크기 설정 */
    max-height: 50vh; /* 최대 너비를 40vw로 제한 */
    min-width: 100vw;
    transition: flex-basis 4s ease; /* 크기 변화에 대한 부드러운 트랜지션 적용 */
  }
}

@include mobile {
  .accordionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imageWrapper {
      width: 90vw;
    }
  }
}
