@import '@/styles/global.scss';
// 추후 조정

.HeroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  position: relative;
  width: 100%;
  height: 70vh;

  padding: 10rem;
  overflow: hidden;

  .imageWrapper {
    position: relative;
    height: 100%;
    width: auto;

    top: 0;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    z-index: $zindex-modal-backdrop;
    @include wide-desktop {
      h1 {
        @include pretendard-4vw-800;
        display: inline-block;
      }

      h2 {
        @include pretendard-1-4vw-200;
        line-height: 5vh;
      }

      p {
        @include pretendard-24-100;
        display: inline-block;
      }
    }
    @include desktop {
      h1 {
        @include pretendard-60-900;
        display: inline-block;
      }

      h2 {
        @include pretendard-24-600;
        display: inline-block;
        line-height: 4rem;
      }

      p {
        @include pretendard-20-100;
        display: inline-block;
      }
    }
    .subTitle {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .description {
      display: flex;
      flex-direction: column;
    }
  }
}

.fullImage {
  .imageWrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: $zindex-fixed;
  }
}
.ShippingHero,
.PriceHero,
.QandAHero {
  .textWrapper {
    margin-top: 10rem;

    @include mobile {
      .imageWrapper {
        height: 30vh;
      }

      h1 {
        @include pretendard-10vw-800;
      }
      h2 {
        @include pretendard-6vw-200;
      }
      p {
        @include pretendard-3-6vw-100;
      }
    }
    @include wide-desktop {
      h1 {
        @include pretendard-2vw-600;
        display: inline-block;
      }

      h2 {
        @include pretendard-24-600;
        display: inline-block;
        line-height: 4rem;
      }

      p {
        @include pretendard-16-100;
        display: inline-block;
      }
    }
    @include desktop {
      h1 {
        @include pretendard-50-900;
        display: inline-block;
      }

      h2 {
        @include pretendard-20-600;
        display: inline-block;
        line-height: 4rem;
      }

      p {
        @include pretendard-26-100;
        display: inline-block;
      }
    }
  }
}

.wallPanelDetail {
  background-color: $color-primary1;

  .imageWrapper {
    width: 100%;
    height: 150%;
    margin-top: 4rem;
  }
}

@include mobile {
  .wallPanelDetail {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding-top: 5rem;
    gap: 0;

    .imageWrapper {
      width: 80vw;
      height: auto;
    }
    .textWrapper {
      h1 {
        @include pretendard-10vw-800;
      }
      h2 {
        @include pretendard-4vw-200;
      }
    }
  }
}
