$color-black: #000000;
$color-white: #ffffff;
$color-gray: #626262;

$color-primary1: #f6f1f1;
$color-primary2: #afd3e2;
$color-primary3: #19a7ce;
$color-primary4: #146c94;

$color-category-hover: #d6d6d6;
