@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@mixin pretendard-10-100 {
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2rem;
}
@mixin pretendard-14-200 {
  font-family: 'Pretendard-Regular';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}
@mixin pretendard-16-100 {
  font-family: 'Pretendard-Regular';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2rem;
}
@mixin pretendard-16-400 {
  font-family: 'Pretendard-Regular';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

@mixin pretendard-16-500 {
  font-family: 'Pretendard-Regular';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin pretendard-18-500 {
  font-family: 'Pretendard-Regular';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin pretendard-20-100 {
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

@mixin pretendard-20-600 {
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin pretendard-24-100 {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

@mixin pretendard-24-600 {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin pretendard-26-100 {
  font-family: 'Pretendard-Regular';
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
@mixin pretendard-30-700 {
  font-family: 'Pretendard-Regular';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin pretendard-30-900 {
  font-family: 'Pretendard-Regular';
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin pretendard-40-700 {
  font-family: 'Pretendard-Regular';
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin pretendard-50-900 {
  font-family: 'Pretendard-Regular';
  font-size: 5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin pretendard-60-700 {
  font-family: 'Pretendard-Regular';
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin pretendard-60-900 {
  font-family: 'Pretendard-Regular';
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin pretendard-70-700 {
  font-family: 'Pretendard-Regular';
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin pretendard-70-900 {
  font-family: 'Pretendard-Regular';
  font-size: 7rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@mixin pretendard-100-900 {
  font-family: 'Pretendard-Regular';
  font-size: 10rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@mixin pretendard-8vw-600 {
  font-family: 'Pretendard-Regular';
  font-size: 8vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin pretendard-10vw-800 {
  font-family: 'Pretendard-Regular';
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@mixin pretendard-10vw-800 {
  font-family: 'Pretendard-Regular';
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@mixin pretendard-4vw-800 {
  font-family: 'Pretendard-Regular';
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@mixin pretendard-3-6vw-200 {
  font-family: 'Pretendard-Regular';
  font-size: 3.6vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
@mixin pretendard-3-6vw-100 {
  font-family: 'Pretendard-Regular';
  font-size: 3.6vw;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
@mixin pretendard-4vw-200 {
  font-family: 'Pretendard-Regular';
  font-size: 4vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

@mixin pretendard-6vw-200 {
  font-family: 'Pretendard-Regular';
  font-size: 6vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
@mixin pretendard-6vw-600 {
  font-family: 'Pretendard-Regular';
  font-size: 6vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin pretendard-2vw-600 {
  font-family: 'Pretendard-Regular';
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
