$mobile-max-width: 768px;
$tablet-min-width: 769px;
$tablet-max-width: 1200px;
$desktop-min-width: 1201px;

//mobile first
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}
