@import '@/styles/global.scss';

$cardWidth: 20vw;
$cardHeight: 30vh;
$cardSemiHeight: 18rem;
$cardTextWrapperHeight: 6rem;

.innerTextFullImage {
  width: $cardWidth;
  height: $cardHeight;
  position: relative;
  padding: 3vh;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);

  .imageWrapper {
    position: relative;
  }

  .textWrapper {
    z-index: $zindex-dropdown;
    color: $color-white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;

    flex-wrap: wrap;
  }
}

.outerTextFullImage {
  width: $cardWidth;
  height: $cardHeight;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1vw;

  @include mobile {
    width: 90vw;
    height: 30vh;
    border-radius: 5vw;
    .imageWrapper {
      width: 100%;
    }
    .textWrapper {
      padding: 5vw;
      border-radius: 5vw;
      h1 {
        @include pretendard-4vw-800;
      }
      p {
        @include pretendard-4vw-200;
      }
    }
  }
  .imageWrapper {
    position: relative;
    height: 70%;
  }
  .textWrapper {
    position: relative;
    top: 0;
    height: 30%;
    width: 100%;
    color: $color-gray;

    display: flex;
    justify-content: space-between;
  }
}

.cardHover {
  padding: 0;
  width: $cardWidth;
  height: $cardHeight;
  position: relative;
  z-index: $zindex-dropdown;

  .hoverAble {
    border-radius: 1rem;
    z-index: $zindex-sticky;
    position: relative;
    width: $cardWidth;
    height: $cardHeight;
    background-color: $color-white;
    box-shadow: 2rem 2rem 0.5 $color-black;
  }
  &:hover {
    z-index: $zindex-image-cover;
    transition: z-index ease-in-out 3s;
    .hoverAble {
      z-index: $zindex-image-cover;
      img {
        z-index: $zindex-image-cover;
      }
    }
  }
  .textWrapper {
    z-index: $zindex-image-cover;
    width: $cardWidth;
    height: $cardHeight;
    background-color: rgba(20, 108, 148, 0.7);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 4rem;
    p {
      z-index: $zindex-image-cover;
    }
    h1 {
      z-index: $zindex-image-cover;
    }
  }
}

.notFull {
  width: $cardWidth;
  height: $cardSemiHeight;
  position: relative;
}

$cardWidthHomePage: 23vw;
$cardHeightHomePage: 40vw;

.paintMarking,
.aluminumBox,
.wallPanel,
.manuFacturingAnodizing {
  width: $cardWidthHomePage;
  height: $cardHeightHomePage;
  background-color: $color-primary1;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .imageWrapper {
    width: 20vw;
    height: 18vw;
  }
  .textWrapper {
    color: $color-black;
    gap: 3vh;
  }
  @include wide-desktop {
    .cardWrapper {
      height: auto;
      gap: 8vh;
      padding: 5vh;
    }
    .imageWrapper {
      width: 20vw;
      height: 18vw;
    }

    .textWrapper {
      h1 {
        @include pretendard-3vw-600;
      }
      p {
        @include pretendard-1vw-400;
      }
    }

    .redirectButton {
      @include pretendard-1vw-400;
      height: 5vh;
      width: 20vw;
      border-radius: 7vh;
    }
  }

  //모바일
  @include mobile {
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .imageWrapper {
      width: 50vw;
      height: 50vw;
    }
    .textWrapper {
      width: 100%;
      padding: 4rem;
      color: $color-black;
      display: flex;
      flex-direction: column;
      align-items: start;

      h1 {
        @include pretendard-10vw-800;
      }
      p {
        @include pretendard-4vw-200;
        line-height: 6vw;
      }
    }
  }

  .redirectButton {
    background-color: rgba(255, 255, 255, 0.6);

    color: $color-primary4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.aluminumBox {
  background-color: $color-primary2;
}
.manuFacturingAnodizing {
  background-color: $color-primary3;
}
.paintMarking {
  background-color: $color-primary4;
}
//inspiration
.inspiration {
  @include mobile {
    background-color: $color-white;
    width: 40vw;
    border-radius: 5vw;
    .imageWrapper {
      width: 40vw;
      border-radius: 5vw;
    }
    .textWrapper {
      width: 40vw;
      border-radius: 5vw;
      padding: 5vw;
      h1 {
        @include pretendard-4vw-800;
      }
      p {
        @include pretendard-3-6vw-100;
      }
    }
  }
}
