@import '@/styles/global.scss';
.footerContainer {
  width: 100%;
  height: 20vh;
  background-color: $color-category-hover;

  margin-top: 30vh;
  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
  }
}

@include mobile {
  .footerContainer {
    height: 10vh;
    margin-top: 10vh;
  }

  .textWrapper {
    height: 10vh;
    p {
      @include pretendard-3-6vw-100;
    }
  }
}

@include wide-desktop {
  .textWrapper {
    p {
      @include pretendard-1vw-400;
    }
  }
}
