@import '@/styles/global.scss';
.cardWrapper {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5vh;
}
.halfBackground {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}
.middleBanner {
  display: flex;
  justify-content: center;
}

@include mobile {
  .cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .halfBackground {
    height: 30vh;
  }
}
