@import '@/styles/global.scss';

.heroCover {
  position: relative;
  width: 80%;
  height: 70vh;
  z-index: $zindex-fixed;
  top: -70vh;
  background: linear-gradient(90deg, $color-white, rgba(0, 0, 0, 0));
}

.HeroWrapper {
  height: 70vh;
}
