@import '@/styles/global.scss';

.productAccordionWrapper {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 5vh;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    transition:
      flex-grow 1s ease,
      flex-shrink 5s ease;
  }

  @include mobile {
    flex-direction: column;
    h1 {
      @include pretendard-10vw-800;
    }
    p {
      @include pretendard-4vw-200;
      line-height: 6vw;
    }
  }
  @include tablet {
    flex-direction: column;
  }
  @include wide-desktop {
    h1 {
      @include pretendard-2vw-600;
    }
    p {
      @include pretendard-1vw-400;
    }
  }
}
